.widget img {
  height: 270px;
  width: 235px;
}
.service-wrap img {
  width: 120px;
  height: 112px;
}

.widget-title {
  text-align: justify;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}
#home {
  background-attachment: inherit !important;
  background-position: 0px 0px !important;
}

.owl-dots {
  z-index: 100;
}
.owl-dot {
  z-index: 100;
}

#full-width .owl-dots {
  bottom: 10%;
}

.extra {
  background: url(../images/extraservice.jpeg);
}

.dye {
  background: url(../images/dye.jpeg);
}

.servicebg {
  background: url(../images/slider3.jpeg);
}

.sustainbg {
  background: url(../images/sustainbg.jpeg);
}
