.widget img {
  height: 270px;
  width: 235px;
}
.service-wrap img {
  width: 120px;
  height: 112px;
}

.widget-title {
  text-align: justify;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}
